<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dicas</ion-title>
        <ion-img src="assets/logof.png" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">

    
  
    <h1>Dicas para sua saude</h1>
      <h4><br>O HomeCenter é um aplicativo que te proporciona dicas e noticias voltados para a area da saude.<br>
  
          <br><br></h4>

          <div class="card" style="width: 18rem;">
            <center><img src="assets/sim.jpg" class="card-img-top" alt="..."></center>
            <div class="card-body">
              <center><h5 class="card-title">Alimentos</h5></center>
              <p class="card-text">O debate sobre alimentação saudável não acontece por acaso. A alimentação saudável é primordial para evitar complicações cardiovasculares e combater o aumento desequilibrado do peso, por exemplo.</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <center><img src="assets/sim2.png" class="card-img-top" alt="..."></center>
            <div class="card-body">
              <center><h5 class="card-title">Exercicios</h5></center>
              <p class="card-text">A ideia de ficar bastante tempo sentado ou optar sempre pelo elevador podem parecer bem atrativas, mas, se formos avaliar todos os riscos que o sedentarismo causa à saúde, você não permaneceria com essa ideia por bastante tempo. </p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <center><img src="assets/sim3.png" class="card-img-top" alt="..."></center>
            <div class="card-body">
              <center><h5 class="card-title">Sono</h5></center>
              <p class="card-text">Você está dormindo bem? A qualidade do sono tem influência direta nos resultados das funções desempenhadas ao longo do dia. Uma noite incompleta de sono pode desencadear irritação, atraso de tarefas e sonolência durante o dia. Portanto, para evitar esses males, teste e descubra a quantidade de horas de sono adequadas ao seu organismo.  </p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <center><img src="assets/sim4.jpg" class="card-img-top" alt="..."></center>
            <div class="card-body">
              <center><h5 class="card-title">check ups</h5></center>
              <p class="card-text">Quer garantir dias mais saudáveis? Faça um check-up. Com ele você terá acesso às informações sobre sua saúde, como nível de colesterol, diabetes, análise do funcionamento dos rins, coração e outros órgãos do corpo. Previna-se, faça seus exames de rotina. </p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <center><img src="assets/sim3.jpg" class="card-img-top" alt="..."></center>
            <div class="card-body">
              <center><h5 class="card-title">hidratar-se</h5></center>
              <p class="card-text">Pode parecer um aviso simples, mas beber água é fundamental para a manutenção das funções vitais do organismo e para evitar a desidratação. Então, nada de passar horas sem beber água. Carregue sempre a sua garrafinha, principalmente se você morar em regiões mais quentes! </p>
            </div>
          </div>
  
  </ion-content>